In [136]:
import pandas as pd
import numpy as np

In [137]:
df = pd.read_csv('movie_list.csv')

In [138]:
df.head()

,Movie Name,Rating,Year,Director,Writers,User Reviews,Genre,Summary,URL,Cast 1,Cast 2
0,Ramayana: The Legend of Prince Rama,9.2,1993,Ram Mohan,Rani Burra,53,Animation,An anime adaptation of the Hindu epic the Rama...,https://www.imdb.com/title/tt0259534/?ref_=fea...,Arun Govil,Nikhil Kapoor
1,12th Fail,8.9,2023,Vidhu Vinod Chopra,Vidhu Vinod Chopra,973,Biography,The real-life story of IPS Officer Manoj Kumar...,https://www.imdb.com/title/tt23849204/?ref_=fe...,Vikrant Massey,Medha Shankr
2,Nayakan,8.7,1987,Mani Ratnam,Balakumaran,237,Crime,A common man's struggles against a corrupt pol...,https://www.imdb.com/title/tt0093603/?ref_=fea...,Kamal Haasan,Saranya Ponvannan
3,Gol Maal,8.5,1979,Hrishikesh Mukherjee,Sailesh Dey,48,Comedy,A man's simple lie to secure his job escalates...,https://www.imdb.com/title/tt0079221/?ref_=fea...,Amol Palekar,Utpal Dutt
4,Anbe Sivam,8.6,2003,Sundar C.,Kamal Haasan,116,Adventure,"Two men, one young and arrogant, the other dam...",https://www.imdb.com/title/tt0367495/?ref_=fea...,Kamal Haasan,Madhavan

In [139]:
#for i in df.index:
    #writers_list = df['Writers'][i]
    #df['Writers'][i] = writers_list[0]

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie Name    250 non-null    object
 1   Rating        250 non-null    float64
 2   Year          250 non-null    int64
 3   Director      250 non-null    object
 4   Writers       250 non-null    object
 5   User Reviews  250 non-null    object
 6   Genre         250 non-null    object
 7   Summary       250 non-null    object
 8   URL           250 non-null    object
 9   Cast 1        250 non-null    object
 10  Cast 2        250 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 21.6+ KB

In [141]:
#df['Writers'][1] = df['Writers'][1].split(',')
#sample_writer_one = df['Writers'][0][0]
#n=len(sample_writer_one)
#sample_writer = sample_writer_one[2:n-1]
#sample_writer