In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('movie_list.csv')

In [3]:
df.head()

,Movie Name,Rating,Year,Director,Writers,User Reviews,Genre,Summary,URL,Genre List,Cast 1,Cast 2
0,Ramayana: The Legend of Prince Rama,8.9,2023,Vidhu Vinod Chopra,Vidhu Vinod Chopra,974,Biography,The real-life story of IPS Officer Manoj Kumar...,https://www.imdb.com/title/tt23849204/?ref_=fe...,"Biography, Drama",Vikrant Massey,Medha Shankr
1,12th Fail,8.7,1987,Mani Ratnam,Balakumaran,237,Crime,A common man's struggles against a corrupt pol...,https://www.imdb.com/title/tt0093603/?ref_=fea...,"Crime, Drama",Kamal Haasan,Saranya Ponvannan
2,Nayakan,8.5,1979,Hrishikesh Mukherjee,Sailesh Dey,48,Comedy,A man's simple lie to secure his job escalates...,https://www.imdb.com/title/tt0079221/?ref_=fea...,"Comedy, Romance",Amol Palekar,Utpal Dutt
3,Gol Maal,8.6,2003,Sundar C.,Kamal Haasan,116,Adventure,"Two men, one young and arrogant, the other dam...",https://www.imdb.com/title/tt0367495/?ref_=fea...,"Adventure, Comedy, Drama",Kamal Haasan,Madhavan
4,Anbe Sivam,8.7,2022,Madhavan,Madhavan,1.1K,Biography,The story of Indian Space Research Organizatio...,https://www.imdb.com/title/tt9263550/?ref_=fea...,"Biography, Drama",Madhavan,Simran

In [4]:
#for i in df.index:
    #writers_list = df['Writers'][i]
    #df['Writers'][i] = writers_list[0]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie Name    250 non-null    object
 1   Rating        250 non-null    float64
 2   Year          250 non-null    int64
 3   Director      250 non-null    object
 4   Writers       250 non-null    object
 5   User Reviews  250 non-null    object
 6   Genre         250 non-null    object
 7   Summary       250 non-null    object
 8   URL           250 non-null    object
 9   Genre List    250 non-null    object
 10  Cast 1        250 non-null    object
 11  Cast 2        250 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 23.6+ KB

In [6]:
#df['Writers'][1] = df['Writers'][1].split(',')
#sample_writer_one = df['Writers'][0][0]
#n=len(sample_writer_one)
#sample_writer = sample_writer_one[2:n-1]
#sample_writer

In [7]:
df['User Reviews'].unique()

for item in df.index:
    review = df['User Reviews'][item]
    print(review)
    if review == "1.1K":
        df['User Reviews'][item] = "1100"
    elif review == "2.1K":
        df['User Reviews'][item] = "2100"
    elif review == "3.3K":
        df['User Reviews'][item] = "3300"
    elif review == "1K":
        df['User Reviews'][item] = "1000"
    elif review == "3K":
        df['User Reviews'][item] = "3000"
    elif review == "1.3K":
        df['User Reviews'][item] = "1300"
    elif review == "1.2K":
        df['User Reviews'][item] = "1200"
    elif review == "1.9K":
        df['User Reviews'][item] = "1900"
    elif review == "7.7K":
        df['User Reviews'][item] = "7700"

974
237
48
116
1.1K
390
168
541
53
999
62
33
139
2.1K
194
88
17
3.3K
178
463
301
38
510
72
497
290
701
1K
47
26
286
11
28
465
141
60
14
73
157
62
54
571
425
59
76
953
14
111
77
305
174
203
22
108
14
309
736
216
19
62
207
239
925
695
909
36
364
49
224
115
127
105
74
13
104
121
20
61
141
148
101
1K
37
25
214
183
42
177
321
45
695
29
38
98
190
91
32
33
277
123
36
114
157
24
68
52
234
371
57
28
583
404
19
45
213
653
127
167
139
3K
55
240
434
124
28
29
152
129
25
236
43
23
73
94
39
234
26
10
59
1.3K
184
195
36
46
138
94
284
267
157
25
1.2K
148
51
44
287
71
71
371
19
18
28
33
1.9K
25
38
88
47
22
141
164
95
168
78
132
13
258
122
265
49
22
361
39
493
80
29
708
194
126
29
140
87
48
90
81
34
81
251
46
609
57
75
362
7.7K
14
616
72
76
14
145
69
47
259
105
111
76
28
389
134
532
153
42
148
150
74
51
150
105
24
100
15
214
29
15
39
20
130
23
262
21
36
196
37
14
15
192
69
28
38
49
49

C:\Users\aditi\AppData\Local\Temp\ipykernel_26948\330314162.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['User Reviews'][item] = "1100"
C:\Users\aditi\AppData\Local\Temp\ipykernel_26948\330314162.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['User Reviews'][item] = "2100"
C:\Users\aditi\AppData\Local\Temp\ipykernel_26948\330314162.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['User Reviews'][item] = "3300"
C:\Users\aditi\AppData\Local\Temp\ipykernel_26948\330314162.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['User Reviews'][item] = "1000"
C:\Users\aditi\AppData\Local\Temp\ipykernel_26948\330314162.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['User Reviews'][item] = "1000"
C:\Users\aditi\AppData\Local\Temp\ipykernel_26948\330314162.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['User Reviews'][item] = "3000"
C:\Users\aditi\AppData\Local\Temp\ipykernel_26948\330314162.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['User Reviews'][item] = "1300"
C:\Users\aditi\AppData\Local\Temp\ipykernel_26948\330314162.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['User Reviews'][item] = "1200"
C:\Users\aditi\AppData\Local\Temp\ipykernel_26948\330314162.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['User Reviews'][item] = "1900"
C:\Users\aditi\AppData\Local\Temp\ipykernel_26948\330314162.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['User Reviews'][item] = "7700"

In [8]:
data_types = { 'Rating' : float , 'Year' : int ,'User Reviews' : float }

df = df.astype(data_types)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie Name    250 non-null    object
 1   Rating        250 non-null    float64
 2   Year          250 non-null    int32
 3   Director      250 non-null    object
 4   Writers       250 non-null    object
 5   User Reviews  250 non-null    float64
 6   Genre         250 non-null    object
 7   Summary       250 non-null    object
 8   URL           250 non-null    object
 9   Genre List    250 non-null    object
 10  Cast 1        250 non-null    object
 11  Cast 2        250 non-null    object
dtypes: float64(2), int32(1), object(9)
memory usage: 22.6+ KB

In [11]:
df.to_csv('movie_list.csv', index=False)