In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\aditi\OneDrive\Desktop\PROJECTS\Movie-Recommendation-System\final_dta.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie Name  453 non-null    object
 1   Rating      453 non-null    float64
 2   Year        453 non-null    object
 3   Director    453 non-null    object
 4   Genre       453 non-null    object
 5   Summary     453 non-null    object
 6   Genre List  453 non-null    object
dtypes: float64(1), object(6)
memory usage: 24.9+ KB

In [5]:
df_temp = df.drop_duplicates()

In [6]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie Name  453 non-null    object
 1   Rating      453 non-null    float64
 2   Year        453 non-null    object
 3   Director    453 non-null    object
 4   Genre       453 non-null    object
 5   Summary     453 non-null    object
 6   Genre List  453 non-null    object
dtypes: float64(1), object(6)
memory usage: 24.9+ KB

In [7]:
df_temp = df.drop_duplicates(subset=['Movie Name'])

In [8]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 383 entries, 0 to 452
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie Name  383 non-null    object
 1   Rating      383 non-null    float64
 2   Year        383 non-null    object
 3   Director    383 non-null    object
 4   Genre       383 non-null    object
 5   Summary     383 non-null    object
 6   Genre List  383 non-null    object
dtypes: float64(1), object(6)
memory usage: 23.9+ KB

In [9]:
df_temp.head()

,Movie Name,Rating,Year,Director,Genre,Summary,Genre List
0,Udaan,8.1,2010,Vikramaditya Motwane,Drama,"Expelled from his school, a 16-year old boy re...",Drama
1,Gangs of Wasseypur,8.2,2012,Anurag Kashyap,Action,A clash between Sultan and Shahid Khan leads t...,"Action, Comedy, Crime"
2,Like Stars on Earth,8.3,2007,Aamir Khan,Drama,An eight-year-old boy is thought to be a lazy ...,"Drama, Family"
3,Dev.D,7.9,2009,Anurag Kashyap,Comedy,After breaking up with his childhood sweethear...,"Comedy, Drama, Romance"
4,Swades,8.2,2004,Ashutosh Gowariker,Drama,A successful Indian scientist returns to an In...,"Drama, Musical"

In [10]:
df_temp['Movie Name'].value_counts()

Movie Name
Udaan              1
Super Deluxe       1
Jana Gana Mana     1
Aaranya Kaandam    1
Pudhu Pettai       1
                  ..
Firaaq             1
Gold               1
Bajirao Mastani    1
Kesari             1
Poove Unakkaga     1
Name: count, Length: 383, dtype: int64

In [11]:
df = df_temp

In [16]:
df['Year'].unique()

array(['2010', '2012', '2007', '2009', '2004', '2006', '2016', '2015',
       '2005', '1994', '1957', '1983', '2008', '2001', '2014', '1971',
       '1979', '1975', '1965', '1960', '2000', '2013', '1992', '1998',
       '2002', '2011', '2018', '1990', '2019', '2020', '2017', '2021',
       '2022', '1976', '1981', '2023', '1973', '1951', '1964', '1956',
       '1972', '1950', '1978', '1970', '1953', '1974', '2003', '1987',
       '1993', '1988', '1999', '1995', '1989', '1991', '1997', '1977',
       '1946', '2024', '1940', '1955', '1948', '1968', 'TV Series',
       '1959', '1982', '1996', '1958'], dtype=object)

In [18]:
for i in df.index:
    if(df['Year'][i] == 'TV Series'):
        df['Year'][i] = '2024'

In [19]:
df['Year'].unique()

array(['2010', '2012', '2007', '2009', '2004', '2006', '2016', '2015',
       '2005', '1994', '1957', '1983', '2008', '2001', '2014', '1971',
       '1979', '1975', '1965', '1960', '2000', '2013', '1992', '1998',
       '2002', '2011', '2018', '1990', '2019', '2020', '2017', '2021',
       '2022', '1976', '1981', '2023', '1973', '1951', '1964', '1956',
       '1972', '1950', '1978', '1970', '1953', '1974', '2003', '1987',
       '1993', '1988', '1999', '1995', '1989', '1991', '1997', '1977',
       '1946', '2024', '1940', '1955', '1948', '1968', '1959', '1982',
       '1996', '1958'], dtype=object)

In [20]:
data_types = { 'Rating' : float , 'Year' : int }

df = df.astype(data_types)

In [22]:
df.to_csv('final_dta.csv', index=False)